{% extends 'web/base.html' %}
{% load static %}
{% block titulo %}Odyssey | Direccion{% endblock %}
{% block body %}
<div class="container-sm" id="crearDireccion">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3>Ingrese su direccion</h3>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Guardar" class="btn btn-success float-right">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    $(function (){
        $('select[name="region"]').on('change', function (){
            var id = $(this).val()
            var csrftoken = getCookie('csrftoken');
            var select_comunas = $('select[name="comuna"]');
            var options = '<option value = "0">Seleccione Comuna</option>'
            if (id === ''){
                select_comunas.html(options);
                return false;
            }
            $.ajax({
                type: 'POST',
                url: window.location.pathname,
                headers: {'X-CSRFToken': csrftoken},
                data: { 
                    'action': 'buscar_comuna',
                    'id': id
                },
                dataType: 'json'
            }).done(function(data){
                if (!data.hasOwnProperty('error')){
                    $.each(data, function (key,value){
                        options +='<option value = "'+value.id_comuna+'">'+value.nombre+'</option>'
                    })
                    return false;
                }
                message_error(data.error)
            }).fail(function (jqXHR, textStatus, errorThrown){
                alert('.fail: ' +textStatus + ': ' + errorThrown);

            }).always(function (data){
                select_comunas.html(options);
            })
        });
    });
</script>
{% endblock %}
