{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}Odyssey | Perfil{% endblock %}
{% block body %}
<!-- <br>
<br>
<br>
<div class="card">
  <div class="card-body">
    <h2>Informacion del usuario</h2>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm">
      <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col">Fecha de ingreso</th>
              <th scope="col">Opciones</th>
          </tr>
      </thead>
      <tbody>
          {% for u in usuario %}
              
              <tr>
                  <td>{{   u.nombre | title }}</td>
                  <td>{{   u.apellido  }}</td>
                  <td>{{   u.correo    }}</td>
                  <td>{{   u.creacion_fec | date:'d-m-Y'   }}</td>
                  <td>
                      <button type="button" class="btn btn-warning"><a href="{% url 'modificar_perfil' user.rut %}">Editar</a></button>
                      <button type="button" class="btn btn-success"><a href="{% url 'listar_direccion' user.rut %}">Ver direcciones</a></button>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
</div> -->
<div class="container-sm" id="perfil">
    <div class="container-sm" id="usuario">
        {% for u in usuario %}
        <div class="card mb-3" id="cardPerfil">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static 'imagenes/icono3.1.png' %}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8 align-self-center">
                    <div class="card-body">
                        <h3>Hola!! {{u.nombre | title}}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row" id="infoPerfil">
        <div class="col-sm" id="datosPersonales">
            <h2>Datos personales</h2>
            <div class="row">
                <div class="col">
                    <p>Nombre:</p>
                    <p>Apellido:</p>
                    <p>Carrito:</p>
                    <p>Fecha registro:</p>
                </div>
                <div class="col">
                    {% for u in usuario %}
                    <p>{{ u.nombre | title }}</p>
                    <p>{{ u.apellido }}</p>
                    <p>{{ u.correo }}</p>
                    <p>{{ u.creacion_fec | date:'d-m-Y' }}</p>
                    {% endfor %}
                </div>
                <div class="container-md">
                    <a href="{% url 'modificar_perfil' user.rut %}"><button type="button" class="btn btn-warning">Editar</button></a>
                    <a href="{% url 'listar_direccion' user.rut %}"><button type="button" class="btn btn-primary">Ver Direcciones</button></a>
                </div>

            </div>

        </div>
        <div class="col-sm" id="HistorialCompra">
            <h2>Historial de Compras</h2>
            <a href="{% url 'lista_detalleCompra' user.rut %}"> <button type="button" class="btn btn-primary"> Ver
                    historial</button> </a>

        </div>
    </div>
</div>

{% endblock %}