{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}Odyssey | Perfil{% endblock %}
{% block body %}
<!-- <br>
<br>
<br>
<div class="card">
  <div class="card-body">
    <h2>Informacion del usuario</h2>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm">
      <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col">Fecha de ingreso</th>
              <th scope="col">Opciones</th>
          </tr>
      </thead>
      <tbody>
          {% for u in usuario %}
              
              <tr>
                  <td>{{   u.nombre | title }}</td>
                  <td>{{   u.apellido  }}</td>
                  <td>{{   u.correo    }}</td>
                  <td>{{   u.creacion_fec | date:'d-m-Y'   }}</td>
                  <td>
                      <button type="button" class="btn btn-warning"><a href="{% url 'modificar_perfil' user.rut %}">Editar</a></button>
                      <button type="button" class="btn btn-success"><a href="{% url 'listar_direccion' user.rut %}">Ver direcciones</a></button>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
</div> -->
<div class="container-sm" id="perfil">
    <div class="container" id="usuario">

        
        {% for u in usuario %}
            <h3>Hola!! {{u.nombre | title}}</h3>
        {% endfor %}
        
    </div>

    <div class="row" id="infoPerfil">
        <div class="col-8">
            <h2>Datos personales</h2>
            <div class="row">
                <div class="col">
                        <p>Nombre:</p>
                        <p>Apellido:</p>
                        <p>Carrito:</p>
                        <p>Fecha:</p>   
                </div>
                <div class="col">
                    {% for u in usuario %}
                        <p>{{   u.nombre | title }}</p>
                        <p>{{   u.apellido  }}</p>
                        <p>{{   u.correo    }}</p>
                        <p>{{   u.creacion_fec | date:'d-m-Y'   }}</p>                
                    {% endfor %}
                </div>
                <div class="container-sm">
                    <button type="button" class="btn btn-warning"><a href="{% url 'modificar_perfil' user.rut %}">Editar</a></button>
                    <button type="button" class="btn btn-primary"><a href="{% url 'listar_direccion' user.rut %}">Ver direcciones</a></button>
                </div>
                
            </div>

        </div>
        <div class="col-4">
            <h2>Historial de Compras</h2>
            <button type="button" class="btn btn-primary"> <a href="{% url 'lista_detalleCompra' user.rut %}"> Ver historial </a></button>

        </div>
    </div>
</div>
{% endblock %}