{% extends 'baseadmin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}Administrador | Productos{% endblock %}
{% block body %}
<div class="container-sm">
    <!-- <form class="d-flex" id="barraBusqueda" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="buscar"
            value="{{request.GET.buscar}}">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form> -->
</div>
<div class="container-sm" id="producto">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">N° identificador</th>
                <th scope="col">rut usuario</th>
                <th scope="col">Direccion</th>
                <th scope="col">total</th>
                <th scope="col">fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for p in entity %}
            <tr>
                <td>{{ p.id_compra | title }}</td>
                <td>{{ p.rut_usuario | title }}</td>
                <td>{{ p.id_direccion | title }}</td>
                <td>$ {{ p.total | title }}</td>
                <td>{{ p.fecha | title }}</td>
                
                <td>
                    <button type="button" class="btn btn-warning"><a
                            href="{% url 'listar_productosCompra' p.id_compra %}">Ver Productos</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}