{% extends 'baseadmin.html' %}
{% load static %}
{% block titulo %}Administrador | Categorias{% endblock %}
{% block body %}
<div class="container-sm">
    <form class="d-flex" id="barraBusqueda" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="buscar"
            value="{{request.GET.buscar}}">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
<div class="container-sm" id="categorias">
    <a href="{% url 'agregar_categoria' %}" class="btn btn-success mt-1">Agregar Categoria</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in entity %}
            <tr>
                <td>{{ p.descripcion | title }}</td>
                <td>
                    <a href="#" class="btn btn-danger" onclick="AlertEliminarCategoria({{ p.id_categoria }});">Eliminar</a>
                    <a href="{% url 'modificar_categoria' p.id_categoria %}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-danger mb-2" href="{% url 'administrador' %}">Volver</a>
</div>
<script src="{% static 'js/alert.js' %}"></script>
{% endblock %}