{% include 'administrador/baseadmin.html' %}
{% load static %}






<div class="container-sm" id="categorias">
    <button type="button" class="btn btn-success"><a href="{% url 'agregar_categoria' %}">Agregar Categoria</a></button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in entity %}
            <tr>
                <td>{{ p.Categoria | title }}</td>

                <td>
                    <button type="button" class="btn btn-danger"><a href="{% url 'eliminar_categoria' p.id %}">Eliminar</a></button>
                    <button type="button" class="btn btn-warning"><a href="{% url 'modificar_categoria' p.id %}">Editar</a></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

