

  {% load crispy_forms_tags %}  
  
 
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>



<!-- {% if validlink %}

<h1>Nueva contraseña</h1>

<form method="post">
{% csrf_token %}
{{ form.new_password1.errors }}
<label for="id_new_password1"></label>
{{form.new_password1}}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirme contraseña</label>{{ form.new_password2 }}
<input type="submit" value="Cambiar mi contraseña">
</form>

{% else %}

<h1 class="text_center">Enlace invalido: Este enlace ya ha sido utilizado</h1>

{% endif %} -->


