{% extends 'web/base.html' %}
{% load static %}

{% block titulo %}Odyssey | Recuperar Contraseña{% endblock %}
{% block body %}
<p>Recuper contaseña!!!</p>

<!-- <form method="post">
    {% csrf_token %}
    <label for="id_mail">Correo:</label> {{form.email }}
    <input type="submit" value="Enviar">
</form>

{% load crispy_forms_tags %}           -->

<!--Reset Password-->
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Escribe tu correo electronico</h2>
    <hr>
    <p>El Equipo de Odyssey te enviara un correo electronico para que puedas restablecer tu contraseña </p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <button class="btn btn-primary" type="submit">enviar email</button>
    </form>
</div>

{% endblock %}