{% include 'baseadmin.html' %}
{% load static %}

<div class="container-sm">

  <form class="d-flex" id="barraBusqueda" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="buscar"
          value="{{request.GET.buscar}}">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>

</div>


<div class="container" id="btnAgregar">
  <div class="row">
    <div class="col-4 ">
      <button type="button" class="btn btn-success"><a href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a></button>
    </div>
  </div>
</div>
<!-- <div class="container-sm" id="btnAgregar">
  <button type="button" class="btn btn-success"><a href="{% url 'agregar_proveedor' %}">Agregar Proveedor</a></button>
</div> -->
<div class="container" id="cajaProveedores">
  <div class="container-sm" id="proveedores">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for p in entity %}
        <tr>
          <td>{{ p.nombres | title }}</td>

          <td>
            <button type="button" class="btn btn-danger"><a
                href="#" onclick="AlertEliminarProveedor({{ p.id_proveedor }});">Eliminar</a></button>
            <button type="button" class="btn btn-warning"><a
                href="{% url 'modificar_proveedor' p.id_proveedor %}">Editar</a></button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<script src="{% static 'js/alert.js' %}"></script>