{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %}Odyssey | Direcciones{% endblock %}
{% block body %}
<div class="card">
    <div class="card-body">
    <h2>Direccion del usuario</h2>
    <hr>
    <table class="table table-striped table-hover table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">Calle</th>
                <th scope="col">Numero</th>
                <th scope="col">Principal</th>
                <th scope="col">Comuna</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for d in direccion %}
                
                <tr>
                    <td>{{   d.calle | title }}</td>
                    <td>{{   d.numero  }}</td>
                    <td>{{   d.principal    }}</td>
                    <td>{{   d.id_comuna    }}</td>
                    <td>
                        <button type="button" class="btn btn-danger"><a href="{% url 'eliminar_direccion' user.rut %}">Eliminar direccion</a></button>
                        <button type="button" class="btn btn-warning"><a href="{% url 'modificar_direccion' user.rut %}">Editar Direccion</a></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-success"><a href="{% url 'nueva_direccion' user.rut %}">Crear direccion</a></button>
</div>
</div>
{% endblock %}