{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- jquery js -->
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/efecto.js' %}"></script>

  <!-- style css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>{% block titulo %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static path %}imagenes/icono3.1.png" />
</head>

<header>

  <body style="background-color: #f5f5f5;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EB6604;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav m-auto">
            <a class="navbar-brand" href="{% url 'home' %}" style="color:#f5f5f5"><b>Home</b></a>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productosVenta' %}" style="color:#f5f5f5"><b>Productos</b></a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link " href="{% url 'administrador' %}" style="color:#f5f5f5"><b>Administrador</b></a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/carrito" style="color:#f5f5f5"></i><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg><b>${{importe_total_carro}}</b></a>
            </li>
          </ul>
            {% if user.is_active %}
            <div style="margin-right: 7%;">
              <li class="d-flex dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" style="color:#f5f5f5">
                  <b>{{ user.nombre }}</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'listar_perfil' user.rut %}"><b>Perfil</b></a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{% url 'logout' %}"><b>Cerrar Sesion</b></a></li>
                </ul>
              </li>
            </div>
            {% else %}
            <div style="margin-right: 2%;">
            <li class="d-flex dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="color:#f5f5f5">
                <b>inicia Sesion</b>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'registro' %}">Registrarse</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesion</a></li>
              </ul>
            </li>
          </div>
            {% endif %}
    </nav>
</header>
{% block body %}{% endblock %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

<!-- sweetalert -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>