{% extends 'web/base.html' %}
{% load static %}
{% block titulo %}Odyssey | Home{% endblock %}
{% block body %}
<section>
    <div id="ff" class="container-fluid">
        <img src="{% static 'imagenes/setup2.jpg' %}" class="img-fluid" alt="...">
        <div id="centrado">
            <h1>Nuestros productos</h1>
            <a id="btnProductos" class="btn btn-primary" href="{% url 'productosVenta' %}">Productos</a>
        </div>
    </div>
</section>
<section>
    <div class="container-sm" id="nosotros">     
        <img src="{% static 'imagenes/icono3.1.png' %}" class="img-fluid rounded mx-auto d-block" alt="...">       
        <h1>ODYSSEY</h1>
        <p>Un poco de nuestra Historia</p>
        <div class="trans text-center">
            <button type="button" class="btn btn-primary"><a href="{% url 'nosotros' %}">Ver mas</a></button>
            
        </div>
    </div>
</section>
<section>
    <div class="contacto">
        <div class="container-sm" id="infoContacto">
            <div class="row" >
                <h1>Contacto</h1>
                <div class="col-sm ">
                    <img src="{% static 'imagenes/facebook.png' %}" class="img-fluid rounded mx-auto d-block" alt="...">                   
                </div>
                <div class="col-sm">
                    <img src="{% static 'imagenes/gmail.png' %}" class="img-fluid rounded mx-auto d-block" alt="...">
                </div>
                <div class="col-sm">
                    <img src="{% static 'imagenes/twitter.png' %}" class="img-fluid rounded mx-auto d-block" alt="...">
                </div>
            </div> 
        </div>
    </div>
</section>
{% endblock %}