{% extends 'web/base.html' %}
{% load static %}
{% block titulo %}Odyssey | Home{% endblock %}
{% block body %}

<div class="presentacion" id="presentacion">
    <div class="nosotros_1" style="background-color: white;">
        <div class="container-sm">
            <div class="row">
                <div class="col-sm">
                    <img src="{% static 'imagenes/icono3.1.png' %}" class="img-fluid rounded mx-auto d-block" alt="...">
                </div>
                <div class="col-sm  align-self-center">
                    <h1>Odyssey Gaming</h1>
                    <p>
                        Odyssey Gaming es una pequeña empresa que se dedica a la venta de periféricos y hardware,
                        durante años hemos tenido un local físico en San Diego #213 el cual era nuestra única sucursal 
                        y único punto de ventas, pero debido a los acontecimientos generados por el covid-19 tuvimos que 
                        cerrar nuestras puertas. 
                    </p>
                </div>
            </div>
        </div>
    </div>

     <div class="nosotros_2" style="background-color: black;">
        <div class="container-sm"  id="presentacion_2" style="background-color: black;">
            <div class="row">
                <div class="col-sm  align-self-center">
                    <h1>Odyssey Gaming</h1>
                    <p>
                        Pero eso no nos detuvo, y entramos al negocio digital, dejamos la venta tradicional de lado convirtiéndonos 
                        en una tienda 100% digital, en la cual encontraras los mejores productos, al mejor precio y de gran calidad,
                        actualmente nos dedicamos solo a la venta por detalle ya que estamos comenzando con la apertura y decidimos 
                        tomarnos las cosas con calma, para entregarle un gran servicio a nuestros clientes. 
                    </p>
                </div>
                <div class="col-sm">
                    <img src="{% static 'imagenes/tiendadigital.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="...">
                    
                </div>
            </div>
        </div>
    </div>
   
    <div class="nosotros_3" style="background-color: #EB6604;">
        <div class="container-sm">

            <div class="row" id="presentacion_3">
                <div class="col-sm ">
                    <img src="{% static 'imagenes/spartano.png' %}" class="img-fluid rounded mx-auto d-block" alt="..." style="width: 150px">
                    
                </div>
                <div class="col-sm  align-self-center">
                    <h1>Esto es Odyssey!!!!</h1>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}
