{% extends 'web/base.html' %}
{% load static %}
{% block titulo %}Odyssey | Home{% endblock %}
<!-- jquery js -->


{% block body %}

<div class="presentacion" id="presentacion">
    <div class="nosotros_1" style="background-color: white;">
        <div class="container-sm" id="presentacion1_R">
            <div class="row">
                {% if presentacion1 %}
                        
                    {% for p in presentacion1 %}
                        {% if p.ubicacion_img == "Izquierda" %}
                        
                            <div class="col-sm"> 
                                <img src="{{ p.imagen.url }}" class="img-fluid rounded mx-auto d-block" alt="...">
                            </div>
                            <div class="col-sm  align-self-center">
                                <h1>{{ p.titulo }}</h1>
                                <p>{{p.descripcion}}</p>
                            </div> 
                        {% else %} 
                            <div class="col-sm  align-self-center">
                                <h1>{{ p.titulo }}</h1>
                                <p>{{p.descripcion}}</p>
                            </div> 
                            <div class="col-sm"> 
                                <img src="{{ p.imagen.url }}" class="img-fluid rounded mx-auto d-block" alt="...">
                            </div>              
                        {% endif %}
                        {% if user.is_staff%}
                                <div class="trans text-center">
                                    <button type="button" class="btn btn-primary"><a href="{% url 'modificar_presentacion1' p.id_presentacion %}">Modificar presentacion 1</a></button>               
                                </div>
                        {% endif %}
                    {% endfor %}
                {% else  %}
                    {% if user.is_staff%}
                        <div class="trans text-center" id="btnPresentacion">
                            <button type="button" class="btn btn-primary"><a href="{% url 'agregar_presentacion1' %}">Agrega tu presentacion 1</a></button>
                        </div>
                    {% endif %}    
                {% endif %}        
            </div>
        </div>
    </div>

     <div class="nosotros_2" style="background-color: black;">
        <div class="container-sm"  id="presentacion_2" style="background-color: black;">
            <div class="row">
                {% if presentacion2 %}
                    {% for presentacion2 in presentacion2 %}
                        {% if presentacion2.ubicacion_img == "Izquierda" %}
                            <div class="col-sm  align-self-center">
                                <img src="{{ presentacion2.imagen.url }}" class="img-fluid rounded mx-auto d-block" alt="...">
                            </div>
                            <div class="col-sm">
                                <h1>{{ presentacion2.titulo  }}</h1>
                                <p>{{ presentacion2.descripcion }}</p>                      
                            </div>
                        {% else %}
                        <div class="col-sm  align-self-center">
                            <h1>{{ presentacion2.titulo  }}</h1>
                            <p>{{ presentacion2.descripcion }}</p>
                        </div>
                        <div class="col-sm">
                            <img src="{{ presentacion2.imagen.url }}" class="img-fluid rounded mx-auto d-block" alt="...">                        
                        </div>
                        {% endif %}
                        {% if user.is_staff%}
                                <div class="trans text-center">
                                    <button type="button" class="btn btn-primary"><a href="{% url 'modificar_presentacion2' presentacion2.id_presentacion %}">Modificar presentacion 2</a></button>         
                                </div>
                        {% endif %}
                    {% endfor %}   
                {% else %}     
                    {% if user.is_staff %}
                        <div class="trans text-center">
                            <button type="button" class="btn btn-primary"><a href="{% url 'agregar_presentacion2' %}">agregar presentacion 2</a></button>         
                        </div> 
                    {% endif %}                        
                {% endif %}
            </div>
        </div>
    </div>
   
    <div class="nosotros_3" style="background-color: #EB6604;">
        <div class="container-sm">

            <div class="row" id="presentacion_3">
                {% if presentacion3 %}
                    {% for presentacion3 in presentacion3  %}
                        {% if presentacion3.ubicacion_img == "Izquierda" %}
                            <div class="col-sm ">
                                <img src="{{ presentacion3.imagen.url }}" class="img-fluid rounded mx-auto d-block" alt="...">                  
                            </div>
                            <div class="col-sm  align-self-center">
                                <h1>{{ presentacion3.titulo }}</h1>
                                <p>{{ presentacion3.descripcion }}</p>
                            </div>
                        {% else %}
                            <div class="col-sm  align-self-center">
                                <h1>{{ presentacion3.titulo }}</h1>
                                <p>{{ presentacion3.descripcion }}</p>
                            </div>
                            <div class="col-sm ">
                                <img src="{{ presentacion3.imagen.url }}" class="img-fluid rounded mx-auto d-block" alt="...">                  
                            </div>

                        {% endif %}
                        {% if user.is_staff%}
                            <div class="trans text-center">
                                <button type="button"  class="btn btn-dark"><a href="{% url 'modificar_presentacion3' presentacion3.id_presentacion  %}">Modificar presentacion 3</a></button>         
                            </div>
                        {% endif %}  
                    {% endfor %}      
                {% else %}
                        {% if user.is_staff %}
                            <div class="trans text-center">
                                <button type="button" class="btn btn-dark"><a href="{% url 'agregar_presentacion3' %}">agregar presentacion 3</a></button>         
                            </div> 
                        {% endif %}          
                {% endif %}
                
            </div> 
        </div>
    </div>
</div>

{% endblock %}
