body{
    background-color: black;
}

header {
    
    width: 100%;
    position: fixed;
    z-index: 100;
}
.btn a{
    text-decoration: none;
    color: white;

}

#mama{
    background-color: blue;
    
}

#ff{
    background-color: black;
    background-attachment: fixed;
    
}

#ff img{
    width: 100%;
    height: 760px;
    background-attachment: fixed;
}

#centrado{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centrado h1{
    color: white;
}

.ee{
    background-color: red;
}

/* home */
/* #titleNosotros{
    text-align: center;
}

#titleNosotros h1{
    font-size: 50px;
}

#cuNostros{
    margin-top: 20px;
} */

#nosotros{
    margin-top: 40px;

      
}

#nosotros img{
    width: 450px;
}

#nosotros h1{
    text-align: center;
}
#nosotros p{
    text-align: center;
}

/* #parrafoNosotros p{
    margin-top: 30px;
} */


/* productos cliente */
#barraBusqueda{
    width: 300px;
}
#productos{
    padding-top: 100px;
   
}

#hola{
    padding-top: 50px;
}

/* carrito */

#carrito{
    padding-top: 90px;
}


#carrito_lista{
    margin: 24px;
}
#btn_mas{
    margin: 3px;
}

#total{
    margin-top: 30px;
}

#RealizarCompra{
    margin-top: 20px;
}


/* Nosotros */
#presentacion{
    padding-top: 50px;
}

#presentacion img{
    width: 400px;
}

#presentacion_2{
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: black;
    color: white;
}


#presentacion_3{
    padding-top: 10px;
}

/* registro */

#registro{
    padding-top: 90px;
}


/*Detalle de compra*/

#widget h1{
    text-align: center;
}


#graciasCompra img{
    width: 200px;
}
