body{
    background-color: black;
}

header {
    
    width: 100%;
    position: fixed;
    z-index: 100;
}
#navbarNav a:hover{
    color: #b70609 !important;
}
.btn-success:hover {
    color: #dfdfdf !important;
    background-color: #b70609 !important;
    border-color: #b70609 !important;
}

.btn-primary {
    background-color: #EB6604 !important;
    border-color: #EB6604 !important;
}
.btn-primary:hover {
    color: #dfdfdf !important;
    background-color: #b70609 !important;
    border-color: #b70609 !important;
}
.btn:hover{
    color: #dfdfdf !important;
}
.btn a:hover{
    color: white !important;
}
.btn a{
    text-decoration: none;
    color: white;
}
#mama{
    background-color: blue;
    
}

#ff{
    background-color: black;
    background-attachment: fixed;
    
}

#ff img{
    width: 100%;
    height: 760px;
    background-attachment: fixed;
}

#centrado{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centrado h1{
    color: white;
}

.ee{
    background-color: red;
}


#nosotros{
    margin-top: 40px;

      
}

#nosotros img{
    width: 450px;
    height: 450px;
}

#nosotros h1{
    text-align: center;
}
#nosotros p{
    text-align: center;
}
#presentacion1_L{
    display: none;
}

#btnPresentacion{
    padding: 30px;
}

#invertir{
    padding: 30px;
}


#barraBusqueda{
    width: 300px;
}
#productos{
    padding-top: 100px;
   
}

#sinStock p{
    color: red;
}

#hola{
    padding-top: 50px;
}

/* carrito */

#carrito{
    padding-top: 90px;
}


#carrito_lista{
    margin: 24px;
}
#btn_mas{
    margin: 3px;
}

#total{
    margin-top: 30px;
}

#RealizarCompra{
    margin-top: 20px;
}

#registrateCompra{
    padding-top: 90px ;
}

#registrateCompra h1{
    text-align: center;
}


/* Nosotros */
#presentacion{
    padding-top: 50px;
}

#presentacion img{
    width: 400px;
}

#presentacion_2{
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: black;
    color: white;
}


#presentacion_3{
    padding-top: 10px;
}

/*contacto*/
.contacto{
    background-color: #EB6604;
    margin-top: 50px;
}

#infoContacto h1{
    padding-top: 10px;
}

#infoContacto h1{
    text-align: center;
}

#infoContacto img{
    padding-top: 50px;
    width: 60px;
}

/* registro */

#registro{
    padding-top: 90px;
}




/*Detalle de compra*/

#widget h1{
    text-align: center;
}


#graciasCompra img{
    width: 200px;
}

/*Perfil*/


#perfil{
    padding-top: 90px;

}

#cardPerfil{
    border-radius: 15px;
}

#usuario{
    max-width: 540px;
}
#infoPerfil{
    margin-top: 50px;
}

#datosPersonales{
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    margin: 5px;
   
}

#HistorialCompra{
    border: 1px solid #dfdfdf;
    border-radius: 15px;
    margin: 5px;
   
}

#editarPerfil{
    padding-top: 90px;
}

/*Direcciones*/

#direcciones{
    padding-top: 90px;
    
}

#cardDirecciones{
    margin: 15px;
}

#crearDireccion{
    padding-top: 90px;
}

#modificarDireccion{
    padding-top: 90px;
}

/*Detalles de compra*/

#detalle_compra{
    padding-top: 90px;
}

#CardRegistroCompra{
    margin: 15px;
}



#productosComprados{
    padding-top: 90px;
}



#advertencia{
    text-align: center;
}

#advertencia p {
    color: red;
}

#detalleProducto{
    padding-top: 180px;
}