#cajaRegister{
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
}

#register{
    padding: 15px;
    background-color: white;
}

#message{
    background-color: green;
    text-align: center;
    color: white;
}