.btn a{
    text-decoration: none;
    color: white;

}
#cajaRegister{
    background-color: white;
    margin-top: 50px;
    border-radius: 15px;
}

#register{
    padding: 15px;
    background-color: white;
}

#message{
    background-color: green;
    text-align: center;
    color: white;
}

#barraBusqueda{
    width: 300px;
    margin-top: 50px;
}

#user{
    margin-top: 50px;
}

