{% extends 'web/base.html' %}
{% load static %}
{% block titulo %}Odyssey | Carrito{% endblock %}
{% block body %}
<div class="container-sm" id="carrito">
  <div class="row">
    <div class="col-sm-8">
      {% include 'carro/widget.html' %}
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4>Resumen de compra</h4>
          <div class="row" id="total">
            <div class="col">
              <h5>Total:</h5>
            </div>
            <div class="col" >
              <h5 class="card-title">${{importe_total_carro}}</h5>
            </div>
          </div>

          <form action="#" method="post">
            {% csrf_token %}
            <input type="hidden" name="id_producto" value="">
            <button class="btn btn-primary" type="submit">Prueba de integracion</button>
          </form>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div>
</div>
<h5>Rut de usuario:{{user.rut}}</h5>
{% endblock %}