{% include 'web/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Nueva Contraseña</h2>
    {% if validlink %}

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label>{{ field.label_tag }}</label>
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  
{% else %}    
<p style="color:red">link inválido</p>
<p>
    <a href="{% url 'password_reset' %}">Solicita un nuevo link de reseteo</a>
</p>
{% endif %}
</div>

{% endblock %}